<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">

       <a  href="https://esprit.tn/" class="navbar-brand" TARGET="_blank">ESPRIT_CLUB-ELIFE CENTER/BEJA</a>
        <button class="navbar-toggler" type="button" datatoggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{{ path('classroom') }}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('affichage') }}" class="nav-link"> Classroom</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('affichages') }}" class="nav-link"> Student </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('affichagec') }}" class="nav-link"> Club </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>