{% extends 'base.html.twig' %}

{% block title %} Ajouter classroom {% endblock %}

{% block body %}

<h3><i class="fa fa-align-center" aria-hidden="true">ADD CLASSROOM</i></h3>

    {{ form_start(form , {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button type="submit"class="btn btn-success">ADD</button>
    {{ form_end(form) }}
    
{% endblock %}